.efc-checklist {
	position: relative;

	> .btn {
		display: block;
		overflow: hidden;

		width: 100%;
		height: 30px;
		margin: 0;
		padding: 5px 30px 5px 10px;

		transition: $ef-transition;
		text-align: left;
		text-overflow: ellipsis;

		color: $ef-text;
		border: 0;
		border-radius: $ef-border-rad;
		background-color: $ef-bg-dk;
		box-shadow: none;

		font-size: $ef-font-size-sm;
		line-height: 20px;

		> i {
			position: absolute;
			top: 5px;
			right: 5px;

			display: block;

			width: 20px;
			height: 20px;

			text-align: center;

			font-size: 16px;
			line-height: 20px;
		}

		&:hover {
			background-color: darken($ef-bg-dk, 5%);
		}

		&:focus {
			outline: none;
			background-color: darken($ef-bg-dk, 7%);
			box-shadow: none;
		}
	}

	> .items {
		overflow: auto;

		width: 100%;
		max-height: 0;

		transition: $ef-transition;

		border-radius: 0 0 $ef-border-rad $ef-border-rad;
		background-color: $ef-bg-dk;

		> .btn {
			position: relative;

			display: block;

			width: 100%;
			height: 30px;
			margin: 0;
			padding: 5px 10px;

			transition: $ef-transition;
			text-align: left;

			color: $ef-text;
			border: 0;
			border-radius: 0;
			background-color: transparent;
			box-shadow: none;

			font-size: 12px;
			line-height: 20px;

			> i {
				position: absolute;
				top: 15px;
				right: 15px;

				display: block;
				overflow: hidden;

				width: 0;
				height: 0;

				transition: $ef-transition;
				text-align: center;

				color: white;
				border-radius: 50%;
				background-color: $ef-accent;

				font-size: 12px;
				line-height: 16px;
			}

			&:focus {
				border: 0;
				outline: none;
				background-color: transparent;
				box-shadow: none;
			}

			&:hover {
				border: 0;
				outline: none;
				background-color: darken($ef-bg-dk, 7%);
				box-shadow: none;
			}
		}

		> .btn.checked {
			padding-right: 30px;
			> i {
				top: 7px;
				right: 7px;

				width: 16px;
				height: 16px;
			}
		}
	}
}

.efc-checklist.efc-checklist-exp {
	> .btn {
		border-radius: $ef-border-rad $ef-border-rad 0 0;
		background-color: darken($ef-bg-dk, 7%);
	}

	> .items {
		max-height: 150px;
	}
}

.efc-checklist.efc-disabled {
	> .btn {
		&:focus, &:hover {
			background-color: $ef-bg-dk;
		}
	}
}

.efc-checklist.efc-inverted {
	> .btn {
		color: $ef-text-inv;
		background-color: $ef-bg-inv-dk;

		&:hover {
			background-color: darken($ef-bg-inv-dk, 5%);
		}

		&:focus {
			background-color: darken($ef-bg-inv-dk, 7%);
		}
	}

	> .items {
		background-color: $ef-bg-inv-dk;

		> .btn {
			color: $ef-text-inv;

			&:hover {
				background-color: darken($ef-bg-inv-dk, 7%);
			}
		}
	}

	&.efc-checklist-exp {
		> .btn {
			background-color: darken($ef-bg-inv-dk, 7%);
		}
	}

	&.efc-disabled {
		> .btn {
			&:focus, &:hover {
				background-color: $ef-bg-inv-dk;
			}
		}
	}
}


.efc-checklist.efc-invalid {
	> .btn {
		border-bottom: 2px solid $danger;
	}
}
