.efc-number {
	position: relative;

	display: block;

	width: 100%;
	height: 30px;

	> input[type=text].efc-textbox {
		padding: 0 30px;
	}

	> .ef-btn {
		position: absolute;
		top: 0;

		&:first-of-type {
			right: 0;
		}
	}
}
