.ap-preview {
	width: calc(100% - 550px);
	max-width: 700px;
	min-width: 250px;
	margin: 20px auto;

	background: white;
	padding-bottom: 100px;
	position: relative;
	min-height: 550px;

	&.full {
		width: calc(100% - 20px);

		.pv-setting {
			cursor: default;
		}

		.ctl-pv {
			border: none;
		}

		.ctl-wp {
			cursor: default;
		}

		.btn-group {
			display: flex;
		}
	}

	.pv-header {
		height: 40px;
		line-height: 40px;
		background: $ef-accent;
		color: white;
		padding: 0 25px;

		&.left {
			text-align: left;
		}

		&.center {
			text-align: center;
		}

		&.right {
			text-align: right;
		}
	}

	.pv-setting {
		padding: 30px 25px 0 25px;
		cursor: pointer;

		.efc-textbox {
			margin-bottom: 5px;
			background: none !important;

			border: 1px solid $ef-border !important;

			&:focus {
				border: 1px solid $ef-accent !important;
			}
		}

		&.editing {
			border-left: 2px solid $ef-accent !important;
		}
	}

	.pv-title {
		font-size: 23px;
	}

	.btn-group {
		position: absolute;
		display: none;
		flex-direction: row-reverse;
		bottom: 20px;
		right: 20px;
	}
}

textarea {
	background: none !important;
	border: 1px solid $ef-border !important;

	&:focus {
		border-bottom: 1px solid $ef-accent !important;
	}
}

@import "./controls/index.scss";