/* open-sans-300 - vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('open-sans-v15-vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('open-sans-v15-vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('open-sans-v15-vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('open-sans-v15-vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('open-sans-v15-vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('open-sans-v15-vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('open-sans-v15-vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('open-sans-v15-vietnamese_latin-ext_cyrillic_greek_greek-ext_cyrillic-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}