.ap-workspace {
	background: $ef-bg;

	textarea {
		background: none !important;
		border: 1px solid $ef-border;

		&:focus {
			border-bottom: 1px solid $ef-accent !important;
		}
	}

	@import './control-selector/index.scss';
	@import '../../../../common/styles/preview/index.scss';
	@import './control-setting/index.scss';
}

.ef-dd-menu .ef-dd-menu-scrollbar > .btn:not([disabled]):not(.disabled):hover {
    background-color: $ef-bg-dk;
}