.nav {
	font-size: $ef-font-size-sm;
	position: relative;

	&.disabled {
		.nav-item {
			pointer-events: none;
			color: $ef-text-disabled-inv;
		}
	}

	.nav-item {
		display: inline-block;
		padding: 0 15px;
		font-size: $ef-font-size-sm;
		cursor: pointer;
		line-height: 40px;
		height: 40px;
		width: 130px;
		text-align: center;
	}

	.link-bar {
		transition: left .3s;
		position: absolute;
		height: 2px;
		background: white;
	}
}
