// List
.ef-list-group {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;

	&--padding {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	&--dense {
		padding-top: 4px;
		padding-bottom: 4px;
	}

	&--subheader {
		padding-top: 0;
	}
}

// ListItem
.ef-list-group-item {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	text-decoration: none;
	font-size: $ef-font-size;
	justify-content: flex-start;
	align-items: center;
	padding-top: 12px;
	padding-bottom: 12px;

	&:focus, &:hover {
		z-index: 1;
		text-decoration: none;
	}

	&--dense {
		font-size: $ef-font-size-sm;
		padding-top: 8px;
		padding-bottom: 8px;
	}

	&--disabled {
		opacity: .5;
	}

	&--divider {
		border-bottom: 1px solid $ef-bg-dk;
		background-clip: padding-box;
	}

	&--gutters {
		padding-left: 24px;
    	padding-right: 24px;
	}
}

// ListItemContainer
.ef-list-group-item-container {
	position: relative;
}

// ListItemButton
.ef-list-group-item-button {
	cursor: pointer;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

	&:hover {
		text-decoration: none;
		background-color: $ef-hover;
	}
}

// ListItemIcon
.ef-list-group-item-icon {
    flex-shrink: 0;
    min-height: 24px;
    min-width: 24px;
    margin-right: 16px;
}

// ListItemText
.ef-list-group-item-text {
    flex: 1 1 auto;
    min-width: 0;
    padding: 0 16px;

    &:first-child {
        padding-left: 0;
    }

    &--inset {
        &:first-child {
            padding-left: 56px;
        }
    }

    &--dense {
        font-size: $ef-font-size-sm;
    }

    &--primary .list-group-item-text--td {
        font-size: $ef-font-size-sm;
    }

    &--secondary .list-group-item-text--td {
        font-size: $ef-font-size-sm;
    }
}
