.ef-block-loader {
	position: absolute;
	z-index: $zindex-fixed;
	top: 0;
	left: 0;

	display: block;
	overflow: hidden;

	width: 100%;
	height: 100%;

	pointer-events: all;

	&.style-default {
		> div {
			position: absolute;
			top: 50%;
			left: 50%;

			width: 42px;
			height: 14px;

			transform: translateX(-50%) translateY(-50%);

			line-height: 14px;

			> div {
				display: inline-block;

				width: 10px;
				height: 10px;
				margin: 2px;

				animation: block-loader-default .7s 0s infinite linear;
				vertical-align: top;

				border-radius: 50%;
				background-color: $ef-accent;
			}

			> div:nth-child(2n-1) {
				animation-delay: -.35s !important;
			}
		}
	}

	&.style-pulse {
		> div {
			position: absolute;
			top: 50%;
			left: 50%;

			width: 100px;
			height: 100px;

			animation: block-loader-pulse 680ms infinite linear;

			border-radius: 50%;
			background-color: transparentize(#000, 0.9);
		}
	}

	&.style-bg-lt {
		background-color: transparentize($ef-bg-lt, .62);
	}

	&.style-bg {
		background-color: transparentize($ef-bg, .62);
	}

	&.style-bg-dk {
		background-color: transparentize($ef-bg-dk, .62);
	}
}

.ef-block-loader.ef-inverted {
	&.style-pulse {
		> div {
			background-color: transparentize(#fff, 0.9);
		}
	}

	&.style-bg-lt {
		background-color: transparentize($ef-bg-inv-lt, .62);
	}

	&.style-bg {
		background-color: transparentize($ef-bg-inv, .62);
	}

	&.style-bg-dk {
		background-color: transparentize($ef-bg-inv-dk, .62);
	}
}

.ef-inverted {
	.ef-block-loader {
		&.style-pulse {
			> div {
				background-color: transparentize(#fff, 0.9);
			}
		}

		&.style-bg-lt {
			background-color: $ef-bg-inv-lt;
		}

		&.style-bg {
			background-color: $ef-bg-inv;
		}

		&.style-bg-dk {
			background-color: $ef-bg-inv-dk;
		}
	}
}

@keyframes block-loader-pulse {
	0% {
		transform: translate(-50%, -50%) scale(0, 0);

		opacity: 1;
	}
	90% {
		transform: translate(-50%, -50%) scale(7, 7);
	}
	100% {
		transform: translate(-50%, -50%) scale(10, 10);

		opacity: 0;
	}
}

@keyframes block-loader-default {
	50% {
		transform: scale(.75);

		opacity: .2;
	}
	100% {
		transform: scale(1);

		opacity: 1;
	}
}

.ef-overlay-loader {
	position: fixed;
	z-index: 9999;

	width: 100%;
	height: 100%;

	background-color: $ef-accent;

	> span {
		position: fixed;
		top: calc(50% + 15px);
		left: 0;

		width: 100%;
		height: 30px;

		text-align: center;

		color: white;

		font-size: 16px;
		font-weight: 300;
		line-height: 30px;
	}

	.spinner {
		position: fixed;
		top: calc(50% - 9px);
		left: calc(50% - 35px);

		width: 70px;

		text-align: center;
	}

	.spinner> div {
		display: inline-block;

		width: 18px;
		height: 18px;

		-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;

		border-radius: 100%;
		background-color: #fff;
	}

	.spinner .bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}

	.spinner .bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}

	@-webkit-keyframes sk-bouncedelay {
		0%, 80%, 100% {
			-webkit-transform: scale(0);
		}
		40% {
			-webkit-transform: scale(1.0);
		}
	}

	@keyframes sk-bouncedelay {
		0%, 80%, 100% {
			-webkit-transform: scale(0);
			transform: scale(0);
		} 40% {
			-webkit-transform: scale(1.0);
			transform: scale(1.0);
		}
	}
}
